.vscode
.env
config/__pycache__
ingestion/__pycache__
config/settings.yaml
logs.log
processing/__pycache__
ingestion/.mypy_cache
processing/.mypy_cache
ingestion/logs/ingestion_logs.log
processing/logs/processing_logs.log
storage/__pycache__
storage/logs/storage_logs.log
storage/.mypy_cache
dashboard/__pycache__
dashboard/.mypy_cache
dashboard/_sections/__pycache__
dashboard/_sections/.mypy_cache
flows/__pycache__
flows/.mypy_cache
